.alternative_cls:nth-child(odd){
    background-color: white;
}

.navbar {
    padding: 10px;
}

.h1 {
    color: white;
    padding: 20px;
}

.container{
    background-color: #5bc0de;
    padding: 50px;
}

.list-group-item {
    cursor:pointer;
}

.list-group-item:hover {
    background-color: #428bca;
}
