.alternative_cls:nth-child(odd){
    background-color: white;
}

.navbar {
    padding: 10px;
}

.h1 {
    color: white;
}

.container {
    position: relative;
    left: 100px;
    bottom: 833px;
}

.col-md-6 {
    background-color: #5bc0de;
    padding: 10px;
}

.list-group-item {
    cursor:pointer;
}

.list-group-item:hover {
    background-color: #428bca;
}

.new-message-footer {
    padding-left: 250px;
    padding-right: 15px;
    position: absolute;
    top: 880px;
}
