.alternative_cls:nth-child(odd){
    background-color: white;
}

.h1 {
    color: white;
}

.col-md-6 {
    background-color: #428bca;
    padding-bottom: 5px;
}


.list-group-item {
    cursor:pointer;
}

.list-group-item:hover {
    background-color: #428bca;
}

.room-name-header {
    color: white;
}

.form-group {
    padding-right: 5px;
}
