* {
    margin: 0;
	padding: 0;
}

.alternative_cls:nth-child(odd){
    background-color: white;
}

.h1 {
    color: white;
}

.col-md-6 {
    background-color: #428bca;
    padding-bottom: 5px;
}

.list-group {
    box-shadow: 10px 0 20px rgb(128, 128, 128, .2);
}


.list-group-item {
    cursor:pointer;
}

.list-group-item:hover {
    background-color: #428bca;
}

.room-name-header {
    color: white;
}

.form-group {
    padding-right: 5px;
}

.message-box {
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
}