<main class="home-view">
<header class="page-header">
    <h1 class="home-title">Bloc Chat <small>Let's chat!</small></h1>
</header>
<body>
    <!--<div class="container">-->
        <!--<div class="row">-->
            <div class="col-xs-4 col-md-2">
                <div class="list-group">
                    <li class="list-group-item" ng-repeat="currentRoom in home.rooms track by $index">
                        <a class="list-group-item" ng-click="home.activeRoom(currentRoom)">{{ currentRoom.$value }}</a>
                    </li>
                </div>
                <button type="button" class="btn-default" ng-click="home.openModal()"><b>New Room</b></button>
            </div>
        <!--</div>-->
    <!--</div>-->
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-lg-11">
                <h3 class="room-name-header">{{ home.currentRoom.$value }}</h3>
                    <div class="messages" ng-repeat="currentMessage in home.allTheMessages track by $index">
                        <p class="alternative_cls">{{ currentMessage.username }}:  {{ currentMessage.content }}    <small>{{ currentMessage.sentAt }}</small></p>
                    </div>
                    <div ng-show="home.allTheMessages.length == 0"><b>No messages available</b></div>
                    <div ng-show="home.allTheMessages.length == 0">Feel free to add your own messages</div>
                    <form class="form-group" ng-submit="home.submitMessage()">
                        <div ng-show="home.currentRoom.$value != null" class="input-group">
                            <input type="text" ng-model="home.newMessage" class="form-control" placeholder="Type your message here...">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary" type="button">Send</button>
                            </span>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</body>
</main>
