<main class="home-view">
    <div class="row">
        <div class="col-md-2">
            <h1 class="home-title">Bloc Chat</h1>
            <ul class="home-view-room-list">
                <li class="home-view-room-item" ng-repeat="room in home.rooms track by $index">
                    {{ room.$value }}
                </li>
            </ul>
            <button type="button" class="btn-default" ng-click="home.openModal()">New Room</button>
        </div>
        <div class="container">
            <div class="col-md-3">
                <h3 class="room-name">{{ home.activeRoom }}</h3>
            </div>
        </div>
    </div>
</main>
