<main class="modal-view">
    <div class="modal-header">
        <h2 class="modal-title">Create new room</h2>
    </div>
    <section class="modal-room-name">
        <h3 class="modal-section-header">Enter a room name</h3>
        <div class="modal-name-input">
            <input type="text">
        </div>
        <div class="modal-buttons">
            <button type="button" class="btn-close" ng-click=>Close</button>
            <button type="button" class="btn-add" ng-click=>Add Room</button>
        </div>
    </section>
</main>
