<main class="modal-view">
    <div class="modal-header">
        <h2 class="modal-title">Create new room</h2>
    </div>
    <section class="modal-room-name">
        <h3 class="modal-section-header">Enter a room name</h3>
        <div class="modal-name-input">
            <input type="text">
        </div>
        <div class="modal-buttons">
            <button type="button" class="btn btn-add" ng-click="modal.addRoom()">Add Room</button>
            <button type="button" class="btn btn-cancel" ng-click="modal.closeModal()">Cancel</button>
        </div>
    </section>
</main>
