<main class="modal-view">
    <form class="form-group" ng-submit="roomModal.addRoom()">
        <nav class="navbar navbar-primary bg-primary">
          <span class="h1">Create a New Room</span>
        </nav>
        <div class="modal-body">
            <h3 class="modal-form-header"><small>Enter a room name</small></h3>
            <div class="form-group form-group-sm">
                <input type="text" ng-model="roomModal.newRoomName" class="form-control" placeholder="Endor" required>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add Room</button>
            <button type="button" class="btn btn-danger" ng-click="roomModal.closeModal()">Cancel</button>
        </div>
    </form>
</main>
