<main class="modal-view">
    <form class="form-group" ng-submit="userName.setUsername()">
        <nav class="navbar navbar-primary bg-primary">
          <span class="h1" class="navbar-brand mb-0">Set a Username</span>
        </nav>
        <div class="modal-body">
            <h3 class="modal-form-header"><small>This name will appear when you send messages.</small></h3>
            <div class="form-group form-group-sm">
                <input type="text" ng-model="userName.newUsername" class="form-control" required>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Set username</button>
        </div>
    </form>
</main>
